<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>
</head>
<body>
    <button id="startStream" onclick="player.playStream()">Start stream</button>
    <button id="stopStream" onclick="player.stopStream()">Stop stream</button>
    <button id="disconnect" onclick="player.disconnect()">Disconnect</button>

    <script src="/scripts/http-live-player.js"></script>
    <script>
        var canvas = document.createElement("canvas");
        document.body.appendChild(canvas);
        var player = new WSAvcPlayer(canvas, "webgl", 1, 35);
        player.connect(`ws://${document.location.host}`);
        window.player = player;
    </script>
</body>
</html>