<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>
</head>
<body>
    <button id="startStream" onclick="player.playStream()">Start stream</button>
    <button id="stopStream" onclick="player.stopStream()">Stop stream</button>
    <button id="disconnect" onclick="player.disconnect()">Disconnect</button>
    <button id="pauseStream" onclick="player.pauseStream()">toggle Pause</button>
    <button onclick="player.send('test')"">test</button>
    <form action="/options" method="POST">
        <input type="text" placeholder="Height" name="height">
        <input type="text" placeholder="Width" name="width">
        <input type="text" placeholder="FPS" name="fps">
        <input type="submit" value="Validate">
    </form>

    <script src="/http-live-player.js"></script>
    <script>
        var canvas = document.createElement("canvas");
        var player = new WSAvcPlayer(canvas, "webgl", 1, 35);
        player.connect(`ws://${document.location.host}`);
        window.player = player;

        document.getElementById('startStream').addEventListener('click', () => {
            document.body.appendChild(canvas);
        });
        document.getElementById('stopStream').addEventListener('click', () => {
            document.body.removeChild(canvas);
        });
        document.getElementById('disconnect').addEventListener('click', () => {
            document.body.removeChild(canvas);
        });
    </script>
</body>
</html>